 <nav class="navbar bg-secondary navbar-light bg-light shadow mb-3 ">
  <a class="navbar-brand " href="/"><h2>EAT A BURGER</h2></a>
</nav>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <p class="text-muted">This app is a burger logger with <strong> MySQL, Node, Express, Handlebars</strong> and a homemade <strong>ORM</strong>  following the <strong> MVC</strong> design pattern; using Node and MySQL to query and route data in app, and Handlebars to generate HTML.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <form class="create-form">
        <div class="form-group">
          <label for="ca">Order burger here:</label>
          <input type="text" id="ca" name="name">
        </div>
        <button type="submit">Order Up!</button>
      </form>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6">
      <h3>Burgers served!</h3>
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        <li>
          {{burger_name}}
          <button class="devoured" data-id="{{id}}" data-devoured="{{devoured}}">
            eat!
          </button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Eaten Burgers!</h3>

      <ul>
        {{#each burger}}
        {{#if devoured}}
        <li>
          {{burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <hr>
  

</div>