li {
  font-size: 1.2em;
  font-weight: normal;
  padding: 5px;
  margin: 5px;
  background: #c8c8c8b2;
  list-style: none;

}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
